# Final Project of Tools for Data Science Course

## This is my final project assignment in which i had to create a jupyter notebook and submit it to be graded by peers.

### List of Data Science Languages
1. Python
2. R
3. Julia
4. SQL
5. Java
6. Scala
7. MATLAB

### List of Data Science Libraries
1. NumPy
2. pandas
3. Matplotlib
4. Seaborn
5. SciPy
6. scikit-learn
7. TensorFlow
8. Keras
9. PyTorch
10. Statsmodels

### Table of Data Science Tools
| Tool          | Description                                      |
|---------------|--------------------------------------------------|
| Jupyter       | Interactive computing environment                |
| RStudio       | Integrated development environment for R         |
| Apache Spark  | Unified analytics engine for big data processing |
| TensorFlow    | Machine learning framework                       |
| Tableau       | Data visualization tool                          |
| Power BI      | Business analytics tool by Microsoft             |

### Introducing Arithmetic Expression Examples
Arithmetic expressions are combinations of numbers, operators, and sometimes parentheses that are used to perform calculations. Here are some examples of arithmetic expressions:
- Addition: \(3 + 2 = 5\)
- Subtraction: \(7 - 4 = 3\)
- Multiplication: \(6 \times 3 = 18\)
- Division: \(8 \div 2 = 4\)

### Multiply and Add Numbers

```python
# Code to multiply and add numbers
a = 5
b = 4
multiply_result = a * b
add_result = a + b
multiply_result, add_result
```

### Convert Minutes to Hours

```python
# Code to convert minutes to hours
minutes = 150
hours = minutes / 60
hours
```

### Objectives
- Understand the key languages used in data science
- Learn about essential libraries for data science tasks
- Explore tools that facilitate data science projects
- Practice writing and understanding arithmetic expressions
- Perform basic arithmetic operations using Python
- Convert time units in Python

### Author's Name
Author: Prathamesh Govekar